<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Project</title>
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<!-- UA Bootstrap CSS -->
<!-- 		<link rel="stylesheet" type="text/css" href="https://cdn.uadigital.arizona.edu/lib/ua-bootstrap/latest/ua-bootstrap.min.css">
 -->		
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		<header class="l-arizona-header bg-red bg-cochineal-red">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a href="https://www.arizona.edu" class="arizona-logo">
							<img src="/assets/img/ua_wordmark_line_logo_white_rgb.svg" alt="UA header">
						</a>
					</div>
				</div>
			</div>
		</header>
		<header class="header">
			<div class="container my-3">
				<a href="/">
					<img src="/assets/img/computer_science_web_header_artwork_v2.png" class="cs-logo-image" alt="CS Home">
				</a>
			</div>
		</header>
		{{{ body }}}
		<!-- Custom Files -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="/assets/js/mapFunctions.js"></script>
		<script src="/assets/js/domFunctions.js"></script>

		<!-- Google Map -->
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLluwfXc26jQEWksaI3HkxC6MHRnqAXu0&v=3&callback=loadUsers"></script>
	</body>
</html>
